<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ByteSerenity{% endblock %}</title>
    <!-- Bootstrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Custom styles -->
    <style>
        .navbar-inverse {
            background-color: #333;
            color: #fff;
        }
        .footer {
            background-color: #333;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 20px 0;
        }
    </style>
</head>
<body style="padding-bottom: 70px;">

<!-- Navigation menu -->
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- Toggle button for collapsed navigation menu -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Site brand -->
            <a class="navbar-brand" href="{{ url_for('blog.index') }}"> ByteSerenity </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default custom-submit" id="submitButton">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('blog.create') }}">Blog</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
</div>

<!-- Design 5: Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <span>&copy; ByteSerenity 2024</span>
            </div>
            <div class="col-sm-6 text-right">
                <a href="{{ url_for('blog.index') }}">Home</a>
                <a href="{{ url_for('blog.privacy') }}">Privacy</a>
                <a href="{{ url_for('blog.terms_of_service') }}">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>

<!-- <script src="/static/scripts/landing.js"></script> -->
</body>
</html>
