<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ByteSerenity{% endblock %}</title>
    <!-- Bootstrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Custom styles -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/css/index.css') }}">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Site icon with Bootstrap styling -->
                <a class="navbar-brand" href="#">
                    <span class="byte-serenity">ByteSerenity</span>
                </a>
                <!-- Load an icon library -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                <a  class="active" href="{{ url_for('blog.search') }}" style="color: white; font-size: 20px;"> <i class="fa fa-fw fa-search" style="color: white; margin-top: 16px; margin-left: 50px;"></i> Search</a>

                <!-- Toggle button for collapsed navigation menu -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user %}
                    <li><a href="{{ url_for('blog.create') }}">Blog</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('blog.profile')}}">{{ g.user.username }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% block content %}{% endblock %}
    <!-- Design: Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <span>&copy; ByteSerenity 2024</span>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="{{ url_for('blog.index') }}">Home</a>
                    <a href="{{ url_for('blog.privacy') }}">Privacy</a>
                    <a href="{{ url_for('blog.terms_of_service') }}">Terms of Service</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap and jQuery JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>

