{% extends 'base.html' %}

{% block content %}

    <!-- Design: Welcome Message -->
    <section class="welcome-message">
        <div class="container">
            <div class="row">
                <!-- Welcome Message with Background Picture -->
                <div class="col-md-9 welcome-message-bg" style="background-image: url('../static/styles/images/background.jpg');">
                    <div class="welcome-content">
                        <h1>Welcome to ByteSerenity</h1>
                        <p>Code with Clarity, Live with Zen</p>
                    </div>
                </div>
                <!-- Trending Stories -->
                <div class="col-md-3 trending-stories">
                    <div class="trending-stories-inner">
                        <h2>Trending Stories</h2>
                        <div class="trending-stories-scroll">
                            <!-- Dynamic content will be inserted here -->
                            {% for story in trending_stories %}
                            <div class="trending-story">
                                <div class="trending-story-image">
                                    <img src="{{ story.image }}" alt="{{ story.title }}" class="img-responsive" width="100" height="100">
                                </div>
                                <div class="trending-story-content">
                                    <h3><a href="{{ story.url }}">{{ story.title }}</a></h3>
                                    <p>{{ story.summary }}</p>
                                    <a href="{{ story.url }}" class="read-more">Read More <span>...</span></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Design: Categories -->
    <section class="categories container">
        <h2>Categories</h2>
        <div class="row">
            <!-- Dynamic content will be inserted here -->
            {% for tag in tags %}
            <div class="col-md-3">
                <div class="category-box" style="background-color: {{ category.color }};">
                    <img src="{{ category.image }}" alt="{{ tag.name }} Image" class="category-image">
                    <h3 class="category-title">{{ category.name }}</h3>
                    <a href="{{ url_for('blog.tag', id=category.id) }}" class="btn btn-primary">Explore</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

   <!-- Design 4: Latest Stories and Top Stories -->
<section class="latest-stories container">
    <h2>Latest Stories</h2>
    
    {% for post in posts %}
    <div class="row">
        <!-- Image on the right -->
        <div class="col-md-3">
            <div class="top-story">
                <img src="{{ post.image }}" alt="Image" class="img-responsive" style="width: 200px; height: 200px;">
            </div>
        </div>
        <!-- Story on the left -->
        <div class="col-md-9">
            <div class="top-story">
                <h3>{{ post.title }}</h3>
                <p>{{ post.body|truncate(200) }}</p>
                <p>Date Published: {{ post.date }}</p>
                <p>Minutes to Read: {{ post.minutes_to_read }}</p>
                <a href="{{ url_for('blog.post_detail', id=post['id']) }}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
 
{% endblock %}
