{% extends 'base.html' %}

{% block content %}
    <div class="p-4">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Search Results</h2>
        {% if posts %}
            {% for post in posts %}
                <article class="post mb-8 p-6 bg-white rounded-lg shadow-lg relative">
                    <header>
                        <div class="post-header mb-4">
                            <h2 class="post-title text-3xl font-semibold"><a href="{{ url_for('blog.post_detail', id=post['id']) }}">{{ post['title'] }}</a></h2>
                            <div class="post-meta text-gray-600">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                        </div>
                        <img src="{{ post['image'] }}" alt="{{ post['title'] }}" class="w-full object-cover rounded-lg">
                    </header>
                    <div class="post-body mt-4 text-gray-800">
                        <p>{{ post['body'] | truncate(200) }}</p>
                        <a href="{{ url_for('blog.post_detail', id=post['id']) }}" class="text-blue-500 hover:text-blue-700">Read More</a>
                    </div>
                    <p class="text-gray-600 text-sm">Tags: <span class="font-semibold">{{ post['tags'] }}</span></p>
                </article>
                {% if not loop.last %}
                    <div class="divider my-6"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-gray-600">No posts found.</p>
        {% endif %}
    </div>
{% endblock %}
