{% extends 'base.html' %}
{% block title %}Login - ByteSerenity{% endblock %}

{% block content %}

  <div class="container">
    <div class="message">
      Welcome to your ByteSerenity profile!
    </div>
    <form id="profileForm" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required>
      </div>
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="profilePicture">Profile Picture:</label>
        <input type="file" id="profilePicture" name="profilePicture">
      </div>
      <div class="form-group">
        <label for="bio">Bio:</label>
        <textarea id="bio" name="bio" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth">
      </div>
      
      <button type="submit" name="action">Update Profile</button>
    </form>
  </div>
{% endblock %}
