{% extends 'base.html' %}
{% block header %}
<h1>Comments</h1>
{% endblock %}

{% block content %}
<div class="list-group">
    {% for comment in comments %}
        <div class="list-group-item bg-light p-4 rounded-lg mb-4">
            <p class="text-gray-800 mb-2">{{ comment.body }}</p>
            <p class="text-gray-600 text-sm">by <span class="font-semibold">{{ comment.author.username }}</span> on {{ comment.created.strftime('%Y-%m-%d') }}</p>
        </div>
    {% endfor %}
<div id="commentForm">
    <form method="post" >
        <div class="form-group">
            <textarea name="body" id="body" class="form-control" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </div>
    </form>
</div>
{% endblock %}
