{% extends 'base.html' %}
{% block title %}View Blog - ByteSerenity{% endblock %}

{% block content %}
   

<div class="container mt-5">
    <div class="card profile-info">
        <div class="card-body">
            <h2>Profile Information</h2>
            <p><strong>Full Name:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Bio:</strong> {{ user.bio }}</p>
            <p><strong>Interests(optional):</strong></p>
            <ul>
                {% for interest in user.interests %}
                <li>{{ interest }}</li>
                {% endfor %}
            </ul>
            <p><strong>Country/Region(optional):</strong> {{ user.country }}</p>
            <hr>
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
