{% extends 'base.html' %}
{% block title %}View Blog - ByteSerenity{% endblock %}
{% block content %}
<style>
    .edit-profile-btn {
        background-color: #007bff; /* Blue background color */
        font-weight: bold; /* Bold text */
        color: #fff; /* White text color */
        border-right: 1px solid #ccc; 
    }
    
    .profile-info {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    }

    .profile-image {
        border-radius: 50%; /* Make the image round */
        width: 150px; /* Set image width */
        height: 150px; /* Set image height */
        object-fit: cover; /* Maintain aspect ratio */
    }
</style>

<div class="container mt-5">
    <div class="card profile-info">
        <div class="card-body">
            <div class="row">
                <!-- First column: Profile content -->
                <div class="col-md-6">
                    <div class="text-center mb-4">
                        <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Profile Picture" class="profile-image">
                    </div>
                    <div class="center-content">
                        <h2 class="mb-4">Profile Information</h2>
                        <p><strong>Full Name:</strong> {{ user.full_name }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Bio:</strong> {{ user.bio }}</p>
                        <p><strong>Interests (optional):</strong></p>
                        <ul class="list-inline-itemstyled">
                            {% for interest in user.interests %}
                                <li>{{ interest }}</li>
                            {% endfor %}
                        </ul>
                        <p><strong>Country/Region (optional):</strong> {{ user.country }}</p>
                    </div>
                </div>
                <!-- Column divider -->
                <div class="col-md-6 column-divider"></div>
                <!-- Second column: User's published stories -->
                <div class="col-md-6">
                    <div class="mt-5">
                        <p><strong>Find your published stories: <a href="{{ url_for('blog.user_stories') }}">here</a>.</strong></p>
                        <p><strong>Find your drafts: <a href="{{ url_for('blog.drafts') }}">here</a>.</strong></p>
                    </div>
                    <div class="mt-5 text-center">
                        <a href="{{ url_for('profile') }}" class="btn btn-primary edit-profile-btn">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

