{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <form id="signupForm" method="post">
                <div class="form-group">
                    <label for="Username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">*Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">*Password:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">*Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" id="terms" name="terms" class="form-check-input" required>
                    <label for="terms" class="form-check-label">I agree to the <a href="{{ url_for('blog.terms_of_service') }}" target="_blank">Terms of Service</a></label>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
<footer class="footer">
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-text">&copy; 2024</span>
            <a class="nav-link" href="{{ url_for('blog.index') }}">Home</a> 
            <a class="nav-link" href="{{ url_for('blog.privacy') }}">Privacy</a> 
            <a class="nav-link" href="{{ url_for('blog.terms_of_service') }}">Terms of Service</a>
        </nav>
    </div>
</footer>
{% endblock %}
