.footer {
      background-color: : #d2e3f2; /* Dark background for the footer */
      color: white;
      padding: 10px;
      margin-top: 300px;
      height: 10px;
      margin-bottom: 6;
      
    }
    .nav-link.active {
      font-weight: bold;
    }
    footer {
      color: darkpurple;
      margin-top: 900px
      
    }

    footer a {
      color: #d2e3f2;
      text-decoration: none; /* Removes underline from links */
    }

    footer a:hover {
      text-decoration: underline; /* Adds underline on hover */
    }

    footer span {
      margin-right: 80px; /* Adjust the value as needed */
    }

    footer {
      text-align: center; /* Center-align the content */
    }

    .footer-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    footer span {
      margin-bottom: 10px; /* Add spacing between the copyright text and navigation */
    }

    footer a {
      margin: 0 10px; /* Add spacing between navigation links */
    }

    @media screen and (max-width: 600px) {
      .footer-content {
        flex-direction: column;
      }

      footer a {
        margin: 5px 0; /* Adjust spacing for smaller screens */
      }
    }
