body {
      font-family: 'Poppins', sans-serif;
      background-color: #F5F5DC;/* Light gray background */
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #6c5ce7; /* Purple background */
      padding: 5px;
      text-align: left;
      background-image: url('../images/background5.jpg');
    }

    .back-arrow {
      color: #fff; /* White text */
      font-size: 20px;
      margin-right: 10px;
      cursor: pointer;
    }

    .container {
      background-color: ##F5F5DC; /* White background */
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
      padding: 40px;
      text-align: center;
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
    }

    h2 {
      color: #333; /* Dark gray text */
      margin-bottom: 20px;
    }

    .message {
      font-size: 18px;
      color: #4834d4; /* Purple text */
      margin-bottom: 20px;
      animation: jump 1.5s infinite;
    }

    
    .form-group {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    label {
      color: #555; /* Gray text */
      font-weight: 500;
      margin-right: 10px;
    }
    
     /* Checkbox styles */
    .form-group input[type="checkbox"] {
      display: inline-block;
      margin-right: 5px;
    }

    .form-group label {
      display: inline-block;
      vertical-align: middle;
}

    input[type="text"],
    input[type="password"] {
      width: 200px; /* Fixed width */
      padding: 10px;
      border-radius: 4px;
      border: 2px solid #000; /* Bold black border */
      transition: border-color 0.3s ease;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      outline: none;
      border-color: #6c5ce7; /* Highlight border color */
    }

    button[type="submit"] {
      background-color: #4834d4; /* Purple background */
      color: #fff; /* White text */
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
      background-color: fff; /* Darker purple background on hover */
    }

    footer {
      background-color: #6c5ce7; /* Purple background */
      color: #4834d4; /* White text */
      padding: 5px;
      text-align: center;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;      
      background-image: url('../images/background5.jpg');
    }
