<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Blog Profile</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/profile.css">


<body>
  <header class="header">
    <button class="back-button" onclick="window.history.back()">
      <strong>&#9664;</strong> Back
    </button>
    <a href="#" class="site-link">ByteSerenity</a>
  </header>
  <div class="container">
    <div class="message">
      Welcome to your ByteSerenity profile!
    </div>
    <form id="profileForm">
      <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" required>
      </div>
      
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="profilePicture">Profile Picture:</label>
        <input type="file" id="profilePicture" name="profilePicture">
      </div>
      <div class="form-group">
        <label for="bio">Bio:</label>
        <textarea id="bio" name="bio" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="Date of Birth ">Date of Birth:</label>
        <input type="url" id="Date of Birth" name="Date of birth">
      </div>
      
      <button type="submit">Update Profile</button>
    </form>
  </div>
  <footer>
    <nav>
      <span>&copy; 2024</span>
      <a href="#">Home</a>
      <a href="#">Privacy</a> 
      <a href="#">Terms of Service</a>
    </nav>
  </footer>
</body>
</html>

